In [99]:
# generate random data

import numpy as np
import pandas as pd
np.random.seed(42)
n_customers = 500
# first_names = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer', 
#                'Michael', 'Linda', 'William', 'Elizabeth', 'David', 'Susan',
#                'Richard', 'Jessica', 'Joseph', 'Sarah', 'Thomas', 'Karen',
#                'Charles', 'Nancy', 'Christopher', 'Lisa', 'Daniel', 'Margaret']

# last_names = ['Smith', 'Johnson', 'Williams', 'Brown', 'Jones', 'Garcia',
#               'Miller', 'Davis', 'Rodriguez', 'Martinez', 'Hernandez', 'Lopez',
#               'Gonzalez', 'Wilson', 'Anderson', 'Thomas', 'Taylor', 'Moore',
#               'Jackson', 'Martin', 'Lee', 'Perez', 'Thompson', 'White']
data = {
    # 'first_name': np.random.choice(first_names, n_customers),
    # 'last_name' : np.random.choice(last_names, n_customers),
    'age': np.random.randint(18, 70, n_customers),
    'annual_income': np.random.random_sample(500)*1000,
    'spending_score': np.random.randint(1, 100, n_customers),
}

In [100]:
df = pd.DataFrame(data)
print(df)

     age  annual_income  spending_score
0     56     954.865281              25
1     69     737.896917              90
2     46     554.354053              75
3     32     611.720746              38
4     60     419.600062               2
..   ...            ...             ...
495   65     335.197242              98
496   42     802.853449              40
497   57       4.632023              91
498   62     333.499172              77
499   18     398.168694              33

[500 rows x 3 columns]

In [101]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(df[['age', 'spending_score']])


kmeans = KMeans(n_clusters=4, random_state=42, n_init=10)
kmeans.fit(X_scaled)
labels = kmeans.labels_
centroids = kmeans.cluster_centers_
centroids_original = scaler.inverse_transform(centroids)
df['cluster']=labels

cluster_names = {}
for i, c in enumerate(centroids_original):
    age, spending_score = c

    if age <= 31 and spending_score < 50:
        cluster_names[i] = "Young Low spenders"
    elif age <= 31 and spending_score >= 50:
        cluster_names[i] = "Young High spenders"
    elif age > 31 and spending_score < 50:
        cluster_names[i] = "Old Low spenders"
    elif age>31 and spending_score>=50:
        cluster_names[i] = "Old High spenders"

df['cluster_name'] = df['cluster'].map(cluster_names)
print(df)

print(df['cluster'].value_counts())

     age  annual_income  spending_score  cluster        cluster_name
0     56     954.865281              25        3    Old Low spenders
1     69     737.896917              90        1   Old High spenders
2     46     554.354053              75        1   Old High spenders
3     32     611.720746              38        0  Young Low spenders
4     60     419.600062               2        3    Old Low spenders
..   ...            ...             ...      ...                 ...
495   65     335.197242              98        1   Old High spenders
496   42     802.853449              40        3    Old Low spenders
497   57       4.632023              91        1   Old High spenders
498   62     333.499172              77        1   Old High spenders
499   18     398.168694              33        0  Young Low spenders

[500 rows x 5 columns]
cluster
3    135
2    130
1    125
0    110
Name: count, dtype: int64