In [3]:
import pandas as pd
df = pd.read_csv("Emp_Data.csv")
df1 = pd.read_csv("department.csv")
print(df)
print(df1)

   Unnamed: 0  emp_id         name  age department         designation  \
0           0     101  Amit Sharma   28         IT   Software Engineer
1           1     102   Riya Verma   32         HR          HR Manager
2           2     103  Rahul Mehta   26         IT   Backend Developer
3           3     104   Sneha Iyer   35    Finance          Accountant
4           4     105  Arjun Singh   29      Sales     Sales Executive
5           5     106   Neha Gupta   31         IT  Frontend Developer
6           6     107   Vikram Rao   38          5  Operations Manager
7           7     108   Pooja Nair   27         HR        HR Executive

         salary  experience       city
0  60500.000000           4  Bangalore
1  60000.000000           8      Delhi
2  61442.857143           3       Pune
3  65000.000000          10    Chennai
4  45000.000000           5     Mumbai
5  57200.000000           6  Bangalore
6  72000.000000          14  Hyderabad
7  42000.000000           2      Kochi
   department_id  department
0              1          IT
1              2          HR
2              3     Finance
3              4       Sales
4              5  Operations

In [10]:
# Reload df to ensure clean state
df = pd.read_csv("Emp_Data.csv")

# Map department names to department_id in df
dept_mapping = dict(zip(df1["department"], df1["department_id"]))
df["department_id"] = df["department"].map(dept_mapping)

# Drop the old department column
df = df.drop("department", axis=1)

# Merge df with df1 on department_id
merged_df = df.merge(df1, on="department_id", how="left")

# Save merged data to new CSV file
merged_df.to_csv("merged.csv", index=False)

print("Merged data saved to merged.csv")
print("\nMerged DataFrame:")
print(merged_df)

# Show employee count per department
print("\nEmployee Count per Department:")
employee_count = merged_df.groupby("department")["emp_id"].count()
print(employee_count)

Merged data saved to merged.csv

Merged DataFrame:
   Unnamed: 0  emp_id         name  age         designation        salary  \
0           0     101  Amit Sharma   28   Software Engineer  60500.000000
1           1     102   Riya Verma   32          HR Manager  60000.000000
2           2     103  Rahul Mehta   28   Backend Developer  61442.857143
3           3     104   Sneha Iyer   35          Accountant  65000.000000
4           4     105  Arjun Singh   28     Sales Executive  45000.000000
5           5     106   Neha Gupta   32  Frontend Developer  57200.000000
6           6     107   Vikram Rao   38  Operations Manager  72000.000000
7           7     108   Pooja Nair   27        HR Executive  42000.000000

   experience       city  department_id department
0           4  Bangalore            1.0         IT
1           8      Delhi            2.0         HR
2           3       Pune            1.0         IT
3          10    Chennai            3.0    Finance
4           5     Mumbai            4.0      Sales
5           6  Bangalore            1.0         IT
6          14  Hyderabad            NaN        NaN
7           2      Kochi            2.0         HR

Employee Count per Department:
department
Finance    1
HR         2
IT         3
Sales      1
Name: emp_id, dtype: int64